<template>
  <form action="">
    <div class="modal-card" style="width: 500px auto">
        <header class="modal-card-head">
            <p class="modal-card-title">Create Event</p>
        </header>
        <section class="modal-card-body">
            <b-field label="EventTitle">
                <b-input
                    type="text"
                    v-model="form.title"
                    placeholder="Event Title.."
                    required>
                </b-input>
            </b-field>

            <b-field label="Tags">
              <b-taginput
                  v-model="form.tag"
                  autocomplete
                  :allow-new="true"
                  icon="label"
                  placeholder="Add a tag">
              </b-taginput>
            </b-field>

            <b-field label="Buy In">
                <b-input
                    type="number"
                    v-model="form.buyin"
                    placeholder="0.00"
                    required>
                </b-input>
            </b-field>

            <b-field label="About your event">
                <b-input
                    type="texarea"
                    v-model="form.description"
                    placeholder="Add a brief overview of your event.."
                    required>
                </b-input>
            </b-field>
        </section>
        <footer class="modal-card-foot">
            <button class="button" type="button" @click="$parent.close()">Close</button>
            <button class="button"  type="button" @click="onSubmit" is-primary>Submit</button>
        </footer>
    </div>
  </form>  
</template>

<script>

    export default {
      name: "CreationModal",
      data () {
        return {
          form: {
            title: '',
            tag: [],
            buyin: 0.00,
            description: ""
          },
          show: true
        }
      },
      methods: {

        onSubmit: function(event) {
          event.preventDefault();

          console.log(this.form);

          //let token = "4%7CkAOWnBawn0juJ6jFDO8Qm6JuMrVkJFkxUZovJ5LWXqvuFKFo1s9L04omPSZRYOHV4GAF3BrP3salq78XwEHTl5vIjjJi8HhsdMUVm9kgvGpczJ33qzabn6eMrXekH82X";

          let token = $cookies.get('playbetr_user_token');

          let config = {
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'POST, GET, PUT, OPTIONS, DELETE',
              'Access-Control-Allow-Headers': 'Access-Control-Allow-Methods, Access-Control-Allow-Origin, Origin, Accept, Content-Type',
              'Authorization': "Bearer " + decodeURI(token)
            }
          };

          let payload = {
            name: this.form.title,
            wager: this.form.buyin,
            description: this.form.description,
            tags: this.form.tag.join(",")
          };

          this.$http.post('https://api.playbetr.com/api/v1/match', payload, config).then((response) => {

           if(response.data) {

            console.log(response.data);
            
            this.$toasted.show('Event Created!', {
              action : [
                {
                    text : 'Close',
                    onClick : (e, toastObject) => {
                        toastObject.goAway(0);
                    }
                },
                {
                    text : 'View Event',
                    // router navigation
                    push : { 
                      name : 'event',
                      params: {id: response.data.id},
                      // this will prevent toast from closing
                      dontClose : true
                     }
                }
              ]
            });

            //This will hide the modal.
            this.$parent.close();
           }

          })
          .catch((error) => {
            console.log(error);
          });

          //alert(JSON.stringify(payload));
        },

        onReset: function(event) {
          event.preventDefault();

          this.form.title = '';
          this.form.tag = '';
          this.form.buyin = 0.00;
          this.form.description = "";
          /* Trick to reset/clear native browser form validation state */
          this.show = false;
          this.$nextTick(() => {
            this.show = true;
          });

        }
      }
    }
</script>

<style scoped>

</style>
