<template>
  <b-modal ref="eventViewModal" id="eventmodal" centered title="View Event" hide-footer>
    im triggered
  </b-modal>  
</template>

<script>

    export default {
      name: "viewEventModal",
      props: ["eventData"],
      data () {
        return {
          eventData: {}
        }
      },
      methods: {
        show: function() {
          //this.$refs.eventViewModal.show();
          console.log('WORKING');
        }

      },
      created() {
        console.log(this.eventData);
      }
    }
</script>

<style scoped>

</style>
