<template>
  <div class="col-md-7" id="contentDisplay">

          <MainNav/>
          <div class="row">
            <div class="col-md-12">
            <b-field grouped>
              <p class="control">
                <multiselect :value="$store.getters.getTags" :options="tagOptions" placeholder="Filter by tag" :multiple="true" :taggable="true" @input="updateTag" style="border-radius:0px;">
                </multiselect>
                <!--
                  <b-dropdown v-model="search_query.filter">
                      <button class="button" slot="trigger">
                          <span>Filters</span>
                          <b-icon icon="menu-down"></b-icon>
                      </button>
  
                      <b-dropdown-item value="open_issues">NHL</b-dropdown-item>
                      <b-dropdown-item value="your_issues">Madden</b-dropdown-item>
                      <b-dropdown-item value="pull_requests">Call of Duty</b-dropdown-item>
                      <b-dropdown-item value="everything">All</b-dropdown-item>
                  </b-dropdown>
                -->
              </p>
              <b-input icon="magnify" type="search" class="search_container" custom-class="search_query" placeholder="Search..." v-model="search_query.name"></b-input>
              <b-button @click="createEvent()" class="orange button-adjust" position="is-right">Create Event</b-button>
            </b-field>
            </div>
          </div>

          <b-table 
          :data="filter"
          ref="table"
          :columns="columns"
          :loading="loading"
          paginated
          @click="TableRowActivated"
          :per-page="perPage"
          :show-detail-icon="false"
          :total="total"
          detailed
          detail-key="event_id"
          >
            <template slot-scope="props">
                <b-table-column field="event_id" label="ID" numeric sortable>
                    {{ props.row.event_id }}
                </b-table-column>
                <b-table-column field="eventName" label="Event Name" sortable>
                    <router-link class="" :to="{ name: 'event', params: { id: props.row.event_id}}">{{ props.row.eventName }}</router-link>
                </b-table-column>
                <b-table-column field="wager" label="Buy-In" sortable>
                    {{ props.row.wager }}
                </b-table-column>
                <b-table-column field="players" label="Players" sortable>
                    {{ props.row.players }}
                </b-table-column>
                <b-table-column field="status" label="Status" sortable>
                    {{ props.row.status }}
                </b-table-column>
            </template>    
            <template slot="detail" slot-scope="props">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                              <div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <strong>{{ props.row.eventName }}</strong>
                                    <small>Buy In: {{ props.row.wager }}</small>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <strong>Tags</strong>
                                    <b-taglist>
                                      <b-tag type="is-info" v-for="tag in props.row.event_tags">{{tag.tag}}</b-tag>
                                    </b-taglist>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="detail-titles">
                                      {{ props.row.event_description }}
                                    </div>
                                  </div>
                                </div>
                                <router-link class="btn btn-orange" :to="{ name: 'event', params: { id: props.row.event_id}}">View Event</router-link>
                              </div>
                        </div>
                    </div>
                </article>
            </template>

            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon
                                icon="emoticon-sad"
                                size="is-large">
                            </b-icon>
                        </p>
                        <p>Nothing here.</p>
                    </div>
                </section>
            </template>

          </b-table>
      </div>
      <!--
      <div class="col-md-7" id="contentDisplay">
        <div class="row">
          <div class="col-md-12" id="container-events" v-on:scroll="infiniteScroll($event)">
            <div class="row event-row-container" 
            v-if="EventList"
            v-for="event in EventList"
            >
              <div class="col-md-12 event" :id="event.id">
                <div class="row internal-event">
                  <div class="col-md-3">{{event.name}}</div>
                  <div class="col-md-3">Buy-in: {{event.wager | currencyDisplay}}</div>
                  <div class="col-md-3">Players: 
                    <span v-if="event.participant_1">{{event.participant_1}}, </span>
                    <span v-else class="">EMPTY, </span> 
                    <span v-if="event.participant_2">{{event.participant_2}}</span>
                    <span v-else>EMPTY</span>
                  </div>
                  <div class="col-md-3">
                    <router-link class="btn btn-orange" :to="{ name: 'event', params: { id: event.id }}">View Event</router-link>
                    <a  v-bind:href="'/#/event/' + event.id">View Event</button>
                    </div>  
                </div>
              </div>
            </div>
            <div class="row"
            v-else>
              <div class="col-md-12">No Results To Display <a href="#" class="btn btn-primary">Create event now!</a></div>
            </div>
          </div>
        </div>
      </div>
      -->
</template>

<script>

import creationModal from './modals/creationModal';
import MainNav from './MainNav';

    export default {
      name: "DisplayEventsList",
      components: {
        creationModal,
        MainNav,
      },
      data () {
        return {
          columns: [
            {
                field: 'event_id',
                label: 'ID',
                visible:true,
                sortable: true
            },
            {
                field: 'eventName',
                label: 'Event Name',
                sortable: true
            },
            {
                field: 'wager',
                label: 'Buy-In',
                sortable: true
            },
            {
                field: 'players',
                label: 'Players',
                sortable: true
            },
            {
                field: 'status',
                label: 'Status',
                sortable: true
            },
            {
                field: 'event_button',
                label: 'Event Link',
                centered: true,
                visible: false
            },
            {
                field: 'event_description',
                label: 'Event Description',
                visible: false
            },
            {
              field: 'event_tags',
              label: 'Event Tags',
              visible: false
            }
          ],
          EventList: [],
          tagOptions: [],
          data: [],
          search_query: {
            name: '',
            filter: ''
          },
          total: 0,
          loading: false,
          page: 1,
          perPage: 15,
          currentEvent: false,
        }
      },
      created: function() {
        this.pullEventData();
        this.pullTags();
        //if(localStorage.getItem('tags')) {
        //  this.search_query.filter = localStorage.getItem('tags');
        //}
      },
      computed: {
        filter: function() {
          var name_re = new RegExp(this.search_query.name, 'i')
          var data = []

          //if(this.search_query.name !== '' || this.$store.getters.getTags.length > 0) {
          //  this.data.forEach(function(element) {
          //    if (String(element.eventName).match(name_re) ||
          //        String(element.wager).match(name_re) ||
          //        String(element.event_id).match(name_re) || element.event_tags.some(t => this.$store.getters.getTags.includes(t.tag))) {
          //      data.push(element);
          //    }
          //  }.bind(this));
          //}


          //Need one to start filter
          if(this.$store.getters.getTags.length > 0 || this.search_query.name.length > 0) {
            this.data.forEach(function(element) {

              //Tagfilter first
              if(this.$store.getters.getTags.length > 0) {
                if(element.event_tags.some(t => this.$store.getters.getTags.includes(t.tag))) {
                  //If the element contains tag

                  //Test for string filter as well
                  if(this.search_query.name.length > 0) {
                    if(String(element.eventName).match(name_re) || String(element.wager).match(name_re)) {
                      data.push(element);
                    }
                  }
                  else {
                    data.push(element);
                  }
                }
              }
              else if(this.search_query.name.length > 0) {
                //No tags test to see if there is a search
                if(String(element.eventName).match(name_re) || String(element.wager).match(name_re)) {
                      data.push(element);
                }
              }
              else {
                console.log("something went wrong.");
              }

            }.bind(this));
          }

          if(data.length > 0) {
            return data
          }
          else {
            return this.data;
          }
          
        }
      },
      methods: {

        TableRowActivated: function(row) {
          console.log(row);
          this.$refs.table.toggleDetails(row)
        },

        createEvent: function() {
          this.$modal.open({
                parent: this,
                component: creationModal,
                hasModalCard: true,
            });
        },

        updateTag: function(element) {
          this.$store.commit('updateTags', element);
        },
        //Will return 1/2, 0/2 or 2/2 depending on whether or not we have players in the event
        checkPlayerNumbers: function(participant_one, participant_two) {
          let returnValue = '0/2';
          if(participant_one && participant_two) {
            returnValue = '2/2';
          }
          else if(participant_one || participant_two)  {
            returnValue = '1/2';
          }
          else {
            returnValue = '0/2';
          }

          return returnValue;
        },

        pullEventDataBackendPagination: function() {

          this.loading = true;

          let token = $cookies.get('playbetr_user_token');

          let config = {
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'POST, GET, PUT, OPTIONS, DELETE',
              'Access-Control-Allow-Headers': 'Access-Control-Allow-Methods, Access-Control-Allow-Origin, Origin, Accept, Content-Type',
              'Authorization': "Bearer " + decodeURI(token)
            }
          };

          this.$http.get("https://api.playbetr.com/api/v1/match?page[size]="+this.perPage+"&page[number]="+this.page, config)
          .then((response) => {

            this.total = response.data.total;

            this.EventList = response.data.data;

            //remove console log here
            console.log(this.EventList);

            this.EventList.forEach(function(event) {
              let temp = {
                  'event_id': event.id,
                  'eventName': event.name,
                  'wager': event.wager,
                  'event_tags': event.tags,
                  'players': this.checkPlayerNumbers(event.participant_1, event.participant_2),
                  'event_button': '',
                  'event_description': event.description
                };

                this.data.push(temp);
            }.bind(this));

            this.loading = false;

          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
          });
        },

        pullTags: function() {

          let token = $cookies.get('playbetr_user_token');

          let config = {
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'POST, GET, PUT, OPTIONS, DELETE',
              'Access-Control-Allow-Headers': 'Access-Control-Allow-Methods, Access-Control-Allow-Origin, Origin, Accept, Content-Type',
              'Authorization': "Bearer " + decodeURI(token)
            }
          };

          this.$http.get("https://api.playbetr.com/api/v1/match/tags", config)
          .then((response) => {

            if(response.data) {
              response.data.forEach(function(element) {
                this.tagOptions.push(element.tag);
            }.bind(this));

            }
          });
        },

        pullEventData: function() {

          this.loading = true;

          let token = $cookies.get('playbetr_user_token');

          let config = {
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'POST, GET, PUT, OPTIONS, DELETE',
              'Access-Control-Allow-Headers': 'Access-Control-Allow-Methods, Access-Control-Allow-Origin, Origin, Accept, Content-Type',
              'Authorization': "Bearer " + decodeURI(token)
            }
          };

          this.$http.get("https://api.playbetr.com/api/v1/match?page[size]=1000", config)
          .then((response) => {

            this.total = response.data.total;

            this.EventList = response.data.data;

            //remove console log here
            console.log(this.EventList);

            this.EventList.forEach(function(event) {
              let temp = {
                  'event_id': event.id,
                  'eventName': event.name,
                  'wager': "$"+parseFloat(event.wager),
                  'event_tags': event.tags,
                  'players': this.checkPlayerNumbers(event.participant_1, event.participant_2),
                  'status': event.status_message,
                  'event_button': '',
                  'event_description': event.description
                };

                this.data.push(temp);
            }.bind(this));

            this.loading = false;

          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
          });
        },
        onPageChange: function(page) {
          this.page = page;
          this.pullEventData();
        }

      }
    }
</script>

<style scoped>

.orange {
  background-color:#FF8C00;
  color:white;
}

.button-adjust {
  min-height:43px;
  border-radius:0px;
}

#contentDisplay {
  
}

#container-events {
  min-height:300px;
  max-height:760px;
  overflow-y:scroll;
}

.event-row-container {
  margin-left: 0px;
  margin-right: 0px;
}

.internal-event {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event {
  margin-top:5px;
  margin-bottom:5px;
  padding:5px;
  border: 1px solid black;
  border-radius:10px;
  text-align: left;
}

.event:hover {
  background-color: #efeeee;
}

.btn-orange {
  background-color: #f28c10;
  border-color:#f28c10;
  color:#fff;
  float:right;
}

.btn-orange:hover {
  background-color: #e0810d;
  border-color: #e0810d;
}

.detail-titles {
  margin-top:10px;
  border-top:dotted 1px black;
}

</style>

<style>

.search_container icon {
  height:2.60em;
}

</style>
