<template>

      <!-- HERE IS WHERE THE TEMPLATE SHOULD START -->   
      <div class="col-md-7" id="contentDisplay" v-if="currentEvent !== null">
        <MainNav />
        <div class="row" id="eventRowContainer">
          <div class="col-md-12" id="container-eventPage">
            <div class="row" id="row-event-header">
              <div class="col-md-12">
                <div class="row event-title_innerrow">
                  <div class="col-md-8" id="event-title">{{currentEvent.name}}</div><div class="col-md-4" id="event-status">STATUS: {{currentEvent.status_message}}</div>
                </div>
              </div>
            </div>
            <!--
            <div class="row" id="tag-row">
              <div class="col-md-6" id="event-tags" v-if="currentEvent.tags">
              <div v-for="(tags, index) in currentEvent.tags">
                  {{currentEvent.tags[index].tag}}
                </div>
              
              </div>
            </div>
            -->
            <div class="row description"><div class="col-md-12">{{currentEvent.description}}</div></div>
            <div class="row awaiting-results-row">
              <div class="col-md-12 waiting-results" v-if="currentEvent.status_code === 2">
                Waiting on results from these user(s): <strong v-if="currentEvent.result_1 === null">{{currentEvent.participant_1}}</strong> <strong v-if="currentEvent.result_2 === null">{{currentEvent.participant_2}}</strong>
              </div>
              <div class="col-md-12 waiting-results" v-else-if="currentEvent.status_code === 10">
                The Match is complete! The Winner was: <strong>{{currentEvent.final_result}}</strong>
              </div>
            </div>

            <div class="row" id="participants-row">
              <div class="col-md-12" id="event-participants-container">
                <div class="row" id="participant-row">
                  <div class="col-md-5 participant" id="participant-one">
                    <div class="row">
                      <div class="participant-fixedwidth participant-profile-block">
                        <div class="participant-profile-image"></div>
                        <div class="participant-profile-username">{{currentEvent.participant_1}}</div>
                      </div>
                    </div>
                    <div class="row" v-if="checkEventParticipation() !== true && currentEvent.participant_1 === null">
                      <div class="participant-fixedwidth participant-profile-button-container">
                        <div class="btn participant-button black" v-on:click="joinEvent('participant_1')">Buy-in for: {{currencyFormatting(currentEvent.wager)}}</div>
                      </div>
                    </div>
                    <div class="row" v-if="checkEventParticipation() && checkResultSubmission() !== true">
                      <div class="participant-fixedwidth participant-profile-button-container">
                        <div class="btn participant-button orange" v-on:click="report('participant_1', $event)">Mark Winner</div>
                      </div>
                    </div>
                    <div class="row" v-if="checkEventParticipation() && checkIfMarkedAsWinner(currentEvent.participant_1) && checkResultSubmission()">
                      <div class="participant-fixedwidth participant-profile-button-container chosen-winner">
                        Selected Winner
                      </div>
                    </div>
                    <div class="row" v-else-if="checkEventParticipation() && checkIfMarkedAsWinner(currentEvent.participant_1) !== true && checkResultSubmission()">
                      <div class="participant-fixedwidth participant-profile-button-container chosen-loser">
                        Not Selected
                      </div>
                    </div>
                  </div>
                  <!--
                  <div class="col-md-5 participant-join" id="participant-one" v-else v-on:click="joinEvent('participant_1');">
                    <i class="fas fa-user-plus join-icon" v-if="!checkEventParticipation() == false"></i>
                    <i class="fas fa-user-alt-slash join -icon" v-else></i>
                  </div>
                  -->
                  <div class="col-md-2 versus">VS</div>
                  <div class="col-md-5 participant" id="participant-two">
                    <div class="row">
                      <div class="participant-fixedwidth participant-profile-block">
                        <div class="participant-profile-image"></div>
                        <div class="participant-profile-username">{{currentEvent.participant_2}}</div>
                      </div>
                    </div>
                    <div class="row" v-if="checkEventParticipation() !== true && currentEvent.participant_2 === null">
                      <div class="participant-fixedwidth participant-profile-button-container">
                        <div class="btn participant-button black" v-on:click="joinEvent('participant_2')"">Buy-in for: {{currencyFormatting(currentEvent.wager)}}</div>
                      </div>
                    </div>
                    <div class="row" v-if="checkEventParticipation() && checkResultSubmission() !== true">
                      <div class="participant-fixedwidth participant-profile-button-container">
                        <div class="btn participant-button orange" v-on:click="report('participant_2', $event)">Mark Winner</div>
                      </div>
                    </div>
                    <div class="row" v-if="checkEventParticipation() && checkIfMarkedAsWinner(currentEvent.participant_2) && checkResultSubmission()">
                      <div class="participant-fixedwidth participant-profile-button-container chosen-winner">
                        Selected Winner
                      </div>
                    </div>
                    <div class="row" v-else-if="checkEventParticipation() && checkIfMarkedAsWinner(currentEvent.participant_2) !== true && checkResultSubmission()">
                      <div class="participant-fixedwidth participant-profile-button-container chosen-loser">
                        Not Selected
                      </div>
                    </div>
                  </div>
                  <!--
                  <div class="col-md-5 participant participant-join" id="participant-two" v-else v-on:click="joinEvent('participant_2');">
                    <i class="fas fa-user-plus join-icon" v-if="checkEventParticipation() == false"></i>
                    <i class="fas fa-user-alt-slash join-icon" v-else></i>
                  </div>
                -->
                </div>
                <!--
                <div class="row voting-row" v-if="checkEventParticipation()">
                  <div class="col-md-12" style="text-align:center;">Select a Match Winner</div>
                </div>
                <div class="row voting-row" v-if="checkEventParticipation()">
                  <div class="col-md-6 voting-col">
                    <div v-bind:class="{active: currentEvent.result_1 != null}"class="btn btn-outline-success btn-sm btn-block" v-on:click="report('participant_1', $event)" :disabled="!currentEvent.participant_1">&#x2714;</div>
                  </div>
                  <div class="col-md-6 voting-col">
                    <div v-bind:class="{active: currentEvent.result_2 != null}" class="btn btn-outline-success btn-sm btn-block" v-on:click="report('participant_2', $event)" :disabled="!currentEvent.participant_2">&#x2714;</div>
                  </div>
                </div>
                -->
              </div>
            </div>
            <div class="row pot-row">
              <div class="col-md-4 offset-md-4">
                <div class="row">
                  <div class="col-md-12" id="pot-title">Playing For</div>
                </div>
                <div class="row">
                  <div class="col-md-12" id="pot-value">{{totalPot()}}</div>
                </div>
              </div>
            </div>
            <div class="row" id="chat-row">
              <div class="col-md-12" id="event-chat-container" v-if="checkEventParticipation()">
                CHAT MESSAGES HERE
              </div>
            </div>
           <!-- 
            <div class="row" id="management-buttons-row">
              <div class="col-md-6"
              v-if="currentEvent.account_id == userID"
              >
                <div class="btn btn-danger" v-on:click="report('none', $event)">Close Event</div>
              </div>
            </div>
          </div>
        -->
<!--
          <div class="col-md-8 offset-md-2" v-else-if="currentEvent.result_1 != null && currentEvent.result_2 != null" id="completeEventPage">            
            <div class="row" id="container-heading-title">
              <div class="col-md-12"><h3>Match Complete</h3></div>
              <div class="col-md-12"><h5>Status: {{currentEvent.status_message}}</h5></div>
            </div>
          </div>
          <div v-else class="col-md-8 offset-md-2" id="container-waitingResultsPage">
            <div class="row" id="container-heading-title">
              <div class="col-md-12"><h3>Results</h3></div>
              <div class="col-md-12"><h5>View or select match results below <strong>Status: <span style="text-transform:uppercase;">{{currentEvent.status_message}}</span></strong></h5></div>
              <div class="col-md-12"><h5>Waiting on results from these user(s): <strong v-if="currentEvent.result_1 == null">{{currentEvent.participant_1}}</strong> <strong v-if="currentEvent.result_2 == null">{{currentEvent.participant_2}}</strong></h5></div>
            </div>
            <div class="row" id="participants-row">
                <div class="col-md-6 participant" id="participant-one">
                    {{currentEvent.participant_1}}
                </div>
                <div class="col-md-6 participant" id="participant-two">
                    {{currentEvent.participant_2}}
                </div>
            </div> 
            <div class="row voting-row" v-if="checkEventParticipation()">
                  <div class="col-md-6 voting-col">
                    <div v-bind:class="{active: currentEvent.result_1 != null}" class="btn btn-outline-success btn-sm btn-block" v-on:click="report('participant_1', $event)" :disabled="!currentEvent.participant_1">&#x2714;</div>
                  </div>
                  <div class="col-md-6 voting-col">
                    <div v-bind:class="{active: currentEvent.result_2 != null}" class="btn btn-outline-success btn-sm btn-block" v-on:click="report('participant_2', $event)" :disabled="!currentEvent.participant_2">&#x2714;</div>
                  </div>
                </div>   
          </div>
        -->
        </div>
      </div>
<!--
  </div>
      -->
</template>

<script>

    import TopRightNav from './TopRightNav';
    import MainNav from './MainNav';
    import LeftSidebar from './LeftSidebar';
    import RightSidebar from './RightSidebar';

    export default {
      name: "EventPage",
      components: {
        TopRightNav,
        MainNav,
        LeftSidebar,
        RightSidebar
      },
      data () {
        return {
          currentEvent: false,
          id: null,
          userID: null
        }
      },
      created: function() {
        this.id = this.$route.params.id
        this.pullEventData(this.id);
        this.userID = $cookies.get('playbetr_account_id');
       
      },
      methods: {

        totalPot: function() {
          return "$"+parseFloat(this.currentEvent.wager)*2;
        },

        currencyFormatting: function(value) {
          return '$'+parseFloat(value);
        },
        
        pullEventData: function(identifier) {

          let token = $cookies.get('playbetr_user_token');

          let config = {
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'POST, GET, PUT, OPTIONS, DELETE',
              'Access-Control-Allow-Headers': 'Access-Control-Allow-Methods, Access-Control-Allow-Origin, Origin, Accept, Content-Type',
              'Authorization': "Bearer " + decodeURI(token)
            }
          };


          this.$http.get("https://api.playbetr.com/api/v1/match/"+identifier, config)
          .then((response) => {

            this.currentEvent = response.data;

            //remove console log here
            console.log(this.currentEvent);

          })
          .catch((error) => {
            console.log(error);
          });
        },

        report: function(status, event) {
          //report method will handle all api transactions related to reporting on an event.
          event.preventDefault();

          console.log(this.userID);

          if((this.currentEvent.participant_1 == this.userID && this.currentEvent.result_1 != null) || (this.currentEvent.participant_2 == this.userID && this.currentEvent.result_2 != null)) 
          {
            //User is part of the event and the result matching that user has been submitted therefore do nothing if the button is clicked.
            console.log("report already submitted, abort");
            return false;
          }

          let token = $cookies.get('playbetr_user_token');

          let config = {
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'POST, GET, PUT, OPTIONS, DELETE',
              'Access-Control-Allow-Headers': 'Access-Control-Allow-Methods, Access-Control-Allow-Origin, Origin, Accept, Content-Type',
              'Authorization': "Bearer " + decodeURI(token)
            }
          };

          let payload = {
            winner: status
          };

          this.$http.post("https://api.playbetr.com/api/v1/match/"+this.id+"/report", payload, config)
          .then((response) => {

            console.log(response);
            this.pullEventData(this.id);

            this.$toasted.show('Result submitted!', {duration: 600});

          })
          .catch((error) => {
            console.log(error);
          });


        },

        checkEventParticipation: function() {
          //will check if the current user is a participant

          if(this.userID == this.currentEvent.participant_1 || this.userID == this.currentEvent.participant_2) {
            return true;
          }
          else {
            return false;
          }

        },

//will return true if that user has submitted a result
        checkResultSubmission: function() {
          if(this.userID == this.currentEvent.participant_1) {
            //user is participant_1
            if(this.currentEvent.result_1 !== null) {
              //user has submitted a result
              return true;
            }
            else {
              return false;
            }
          }
          else if(this.userID == this.currentEvent.participant_2) {
            if(this.currentEvent.result_2 !== null) {
              return true
            }
            else {
              return false;
            }
          }
          else {
            return false;
          }
        },

        checkIfMarkedAsWinner(participant) {
          if(this.currentEvent.result_1 === participant || this.currentEvent.result_2 === participant) {
            return true;
          }
          else {
            return false;
          }
        },

        joinEvent: function(participant) {

          if(this.checkEventParticipation() == false) {
            //Accept the match (requires match id)

            let token = $cookies.get('playbetr_user_token');

            let config = {
              headers: {
                'Access-Control-Allow-Origin': '*',
                'Access-Control-Allow-Methods': 'POST, GET, PUT, OPTIONS, DELETE',
                'Access-Control-Allow-Headers': 'Access-Control-Allow-Methods, Access-Control-Allow-Origin, Origin, Accept, Content-Type',
                'Authorization': "Bearer " + decodeURI(token)
              }
            };
          
            this.$http.get("https://api.playbetr.com/api/v1/match/"+this.id+"/accept", config)
              .then(response => {
                console.log(response);
                this.pullEventData(this.id);
              })
              .catch((error) => {
                console.log(error);
              });
          }
        }

      }
    }
</script>

<style scoped>

#contentDisplay {
  
}

#pot-title {
  color: white;
  background-color: #e88000;
}

#pot-value {
  color: white;
  background-color: #ff8c00;
}

.event-title_innerrow {
  margin-left: 10px;
  margin-right:10px;
}

#event-title {
  font-size: 23px;
  padding-left: 0px;
  text-align:left;
  border-bottom:3px solid #ff8c00;
}

#event-status {
  font-size: 23px;
  color:#9e9e9e;
  text-align:right;
  border-bottom:3px solid #ff8c00;
}

#event-title::before {
  padding-bottom: 4px;
  margin-right: 4px;
  content: " ";
  border-left: 4px solid #ff8c00;
}

#event-status::before {
  padding-bottom:4px;
  margin-right: 4px;
  content: " ";
  border-left: 4px solid #ff8c00;
}

#row-event-header {
  margin-top:10px;
}

#participant-one {
  
}

#participant-two {
 
}

#participants-row {
  margin-top:10px;
  margin-bottom:10px;
}

#event-chat-container {
  margin-top:10px;
  margin-bottom:10px;
}

#management-buttons-row {
  margin-bottom:13px;
}

#container-eventPage {
  min-height:300px;
  overflow-y:scroll;
}

.waiting-results {
  margin-top:10px;
}

.participant-fixedwidth {
  margin: 0 auto;
  width: 230px;
  border: 1px solid black;
}

.participant-profile-block {
  position:relative;
  height:250px;
}

.participant-profile-image {
  position: absolute;
  background-image: url('https://i0.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1');
  background-size: cover;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 75px;
 -webkit-border-radius: 75px;
 -moz-border-radius: 75px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.participant-profile-username {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.participant-profile-button-container {
  position: relative;
  height:50px;
}

.participant-button {
  position: absolute;
  color: white;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-table;
}

.participant {
  min-height:300px;
}

.versus {
  min-height: 300px;
  line-height: 300px;
  font-size: 40px;
}

.participant-join {
  min-height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.join-icon {
  font-size:2.5em;
}

#content-header-separation {
  margin-top:10px;
  margin-bottom:10px;
}

.event-row-container {
  margin-left: 0px;
  margin-right: 0px;
}

#event-chat-container {
  min-height:125px;
}

.internal-event {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event {
  background-color:light-blue;
  margin-top:5px;
  margin-bottom:5px;
  padding:5px;
  border: 1px solid black;
  text-align: left;
}

.orange {
  background-color: #ff8c00;
  border-color: #ff8c00;
}

.orange:hover {
  background-color: #e88000;
}

.black {
  background-color: black;
  border-color: black;
}

.chosen-winner {
  background-color: #ff8c00;
  color: white;
}

.chosen-loser {
  background-color: #ff8c00;
  color: white;
}

</style>
