<template>
  
    <div class="row">
      <div class="col-md-12" id="footer">
        <div class="row">
          <div class="col-md-4">Footer 1</div>
          <div class="col-md-4">Footer 2</div>
          <div class="col-md-4">Footer 3</div>
        </div>
      </div>
    </div>    

</template>

<script>

    export default {
      name: "Footer",
      data () {
        return {}
      },
      methods: {

      }
    }
</script>

<style scoped>

</style>
