<template>
  <div class="col-md-2 d-md-none d-sm-none d-lg-block" id="LeftSidebar-Container">
    <div class="row">
      <div class="col-md-12 leftsidebar-title">
        {{title}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 leftsidebar-gamelist">
        <ul style="list-style:none; padding-left:0px;">
          <li><a class="btn btn-default" @click="addTag('gtav')">GTA:V</a></li>
          <li><a class="btn btn-default" @click="addTag('madden')">Madden</a></li>
          <li><a class="btn btn-default" @click="addTag('cod')">Call of Duty</a></li>
          <li><a class="btn btn-default" @click="addTag('fifa19')">Fifa 19</a></li>
          <li><a class="btn btn-default" @click="addTag('mariocart')">Mario Cart</a></li>
          <li><a class="btn btn-default" @click="addTag('ssb')">Super Smash Bros.</a></li>
          <li><a class="btn btn-default" @click="addTag('xbox')">Xbox</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="leftsidebar-referalbox">
          REFER A FRIEND
        </div>
      </div>
    </div>
  </div>
</template>

<script>

    export default {
      name: "LeftSidebar",
      components: {
      },
      props: {
      },
      data () {
        return {
           title: 'TOP GAMES'
        }
      },
      methods: {
        addTag: function(value) {
          this.$store.commit('addTag', value);
        }
      }
    }
</script>

<style scoped>

#LeftSidebar-Container {
  -webkit-box-shadow: 6px 0px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 6px 0px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 6px 0px 5px 0px rgba(0,0,0,0.15);
  height:100%;
}

.leftsidebar-title::before {
  margin-right:8px;
  content: " ";
  border-left: 4px solid orange;
}

.leftsidebar-title {
  font-size:120%;
}

.leftsidebar-gamelist {
  text-align:left;
  padding-top:15px;

}

.leftsidebar-referalbox {
  display:block;
  text-align:center;
  height: 150px;
  line-height: 150px;
  background-color: lightgrey;
}



</style>
