<template>
  
    <div class="row">
      <div class="col-md-12 col-centered" id="navmenu">
        <div class="btn-group btn-group-justified" role="group" caria-label="...">
            <router-link v-bind:class="{'link-active' : $router.path == '/'}" :to="{ name: 'MainPage', params: {}}">Home</router-link>
            <router-link v-bind:class="{'link-active' : $router.path == '/myevents'}" :to="{ name: 'MyEvents', params: {}}">My Events</router-link>
        </div>
      </div>
    </div>    

</template>

<script>

    export default {
      name: "MainNav",
      data () {
        return {
           navigation: [ 
            {
              'name' : 'Home',
              'link' : '/'
            },
            {
              'name' : 'My Events',
              'link' : '/events/mine'
            },
           ]
        }
      },
      methods: {

      }
    }
</script>

<style scoped>

a {
  margin-left:20px;
  margin-right:20px;
  text-decoration: none;
  color: black;
  font-size: 150%;
}

.router-link-exact-active {
  border-bottom: 2px solid orange;
}

#navmenu {
  margin-bottom:15px;
}

</style>
