<template>
  <DisplayEventsList />
</template>

<script>

  import TopRightNav from './TopRightNav';
  import MainNav from './MainNav';
  import Footer from './Footer';
  import DisplayEventsList from './DisplayEventsList';
  import LeftSidebar from './LeftSidebar';
  import RightSidebar from './RightSidebar';

    export default {
      name: "MainPage",
      components: {
        TopRightNav,
        MainNav,
        DisplayEventsList,
        Footer,
        LeftSidebar,
        RightSidebar
      },
      props: {
        userid: { type: String, default: ''}
      },
      data () {
        return {
           msg: 'Welcome to the HomePage'
        }
      },
      ccreated: function() {
        console.log(this.$route.params.tag);
      },
      methods: {

      }
    }
</script>

<style scoped>

#content-header-separation {
  margin-top:10px;
  margin-bottom:10px;
}

</style>
