<template>
      <div class="col-md-7" id="contentDisplay">

          <b-field>
            <p class="control">
                <b-dropdown v-model="search_query.filter">
                    <button class="button" slot="trigger">
                        <span>Filters</span>
                        <b-icon icon="menu-down"></b-icon>
                    </button>

                    <b-dropdown-item value="open_issues">NHL</b-dropdown-item>
                    <b-dropdown-item value="your_issues">Madden</b-dropdown-item>
                    <b-dropdown-item value="pull_requests">Call of Duty</b-dropdown-item>
                    <b-dropdown-item value="everything">All</b-dropdown-item>
                </b-dropdown>
            </p>
            <b-input icon="magnify" type="search" placeholder="Search..." v-model="search_query.name"></b-input>
          </b-field>

          <b-table 
          :data="filter" 
          :columns="columns"
          :loading="loading"
          paginated
          backend-pagination
          :total="total"
          :per-page="perPage"
          @page-change="onPageChange"
          detailed
          detail-key="event_id"
          >
            <template slot="detail" slot-scope="props">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ props.row.eventName }}</strong>
                                <small>Buy In: {{ props.row.wager }}</small>
                                <small>{{ props.row.players }}</small>
                                <br>
                                {{ props.row.event_description }}
                                <router-link class="btn btn-orange" :to="{ name: 'event', params: { id: props.row.event_id}}">View Event</router-link>
                            </p>
                        </div>
                    </div>
                </article>
            </template>
          </b-table>
      </div>
</template>

<script>

    import TopRightNav from './TopRightNav';
    import MainNav from './MainNav';
    import Footer from './Footer';

    export default {
      name: "EventPage",
      components: {
        TopRightNav,
        MainNav,
      },
      data () {
        return {
          columns: [
            {
                field: 'event_id',
                label: 'ID',
                visible:true,
                sortable: true
            },
            {
                field: 'eventName',
                label: 'Event Name',
                sortable: true
            },
            {
                field: 'wager',
                label: 'Buy-In',
                sortable: true
            },
            {
                field: 'players',
                label: 'Players',
                sortable: true
            },
            {
                field: 'event_button',
                label: 'Event Link',
                centered: true,
                visible: false
            },
            {
                field: 'event_description',
                label: 'Event Description',
                visible: false
            }
          ],
          EventList: [],
          data: [],
          search_query: {
            name: '',
            filter: ''
          },
          total: 0,
          loading: false,
          page: 1,
          perPage: 15
        }
      },
      created: function() {
        this.id = this.$route.params.id;
        this.pullEventData();
      },
      computed: {
        filter: function() {
          var name_re = new RegExp(this.search_query.name, 'i')
          var data = []

          if(this.search_query.name !== '') {
            this.data.forEach(function(element) {
              if (element.eventName.match(name_re) ||
                  element.wager.match(name_re) ||
                  element.event_id.match(name_re)) {
                data.push(element)
              }
            });
          }
          
          if(data.length > 0) {
            return data
          }
          else {
            return this.data;
          }
          
        }
      },
      methods: {

        //Will return 1/2, 0/2 or 2/2 depending on whether or not we have players in the event
        checkPlayerNumbers: function(participant_one, participant_two) {
          let returnValue = '0/2';
          if(participant_one && participant_two) {
            returnValue = '2/2';
          }
          else if(participant_one) {
            returnValue = '1/2';
          }
          else if(participant_two) {
            returnValue = '1/2';
          }
          else {
            returnValue = '0/2';
          }

          return returnValue;
        },

        pullEventData: function() {

          this.loading = true;

          let token = $cookies.get('playbetr_user_token');

          let config = {
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'POST, GET, PUT, OPTIONS, DELETE',
              'Access-Control-Allow-Headers': 'Access-Control-Allow-Methods, Access-Control-Allow-Origin, Origin, Accept, Content-Type',
              'Authorization': "Bearer " + decodeURI(token)
            }
          };

          this.$http.get("https://api.playbetr.com/api/v1/match?page[size]="+this.perPage+"&page[number]="+this.page, config)
          .then((response) => {

            this.total = response.data.total;

            this.EventList = response.data.data;

            //remove console log here
            console.log(this.EventList);

            this.EventList.forEach(function(event) {
              let temp = {
                  'event_id': event.id,
                  'eventName': event.name,
                  'wager': event.wager,
                  'players': this.checkPlayerNumbers(event.participant_1, event.participant_2),
                  'event_button': '',
                  'event_description': event.description
                };

                this.data.push(temp);
            }.bind(this));

            this.loading = false;

          })
          .catch((error) => {
            console.log(error);
          });
        },

      //  infiniteScroll: function(event) {
//
      //    if(event.srcElement.scrollTop + event.srcElement.clientHeight === event.srcElement.scrollHeight) {
      //      //The user is at the bottom of the div.
      //      console.log("bottom of div");
      //      this.$toasted.show('Loading more matches ...', {duration: 900});
//
      //      this.pageNum += 1;
//
      //      let token = $cookies.get('playbetr_user_token');
//
      //      let config = {
      //        headers: {
      //          'Access-Control-Allow-Origin': '*',
      //          'Access-Control-Allow-Methods': 'POST, GET, PUT, OPTIONS, DELETE',
      //          'Access-Control-Allow-Headers': 'Access-Control-Allow-Methods, Access-Control-Allow-Origin, Origin, Accept, Content-Type',
      //          'Authorization': "Bearer " + decodeURI(token)
      //        }
      //      };
  //
      //      this.$http.get("https://api.playbetr.com/api/v1/match?page[size]=15&page[number]="+this.pageNum, config)
      //      .then((response) => {
  //
      //        let newArray = response.data.data;
  //
      //        //remove console log here
      //        console.log(newArray);
//
      //        newArray.forEach(function(value){
      //         this.EventList.push(value);
      //        }.bind(this));
//
      //        console.log(this.EventList);
  //
      //      })
      //      .catch((error) => {
      //        console.log(error);
      //      });
      //    }
      //  },

        onPageChange: function(page) {
          this.page = page;
          this.pullEventData();
        }
        
      }
    }
</script>

<style scoped>

#contentDisplay {
  
}

#row-event-header {
  margin-top:10px;
}

#participant-one {
  border: 1px solid grey;
  border-radius:10px 0px 0px 10px;
}

#participant-two {
  border: 1px solid grey;
  border-radius:0px 10px 10px 0px;
}

#participants-row {
  margin-top:10px;
  margin-bottom:10px;
}

#event-chat-container {
  margin-top:10px;
  margin-bottom:10px;
}

#management-buttons-row {
  margin-bottom:13px;
}

#container-eventPage {
  min-height:300px;
  max-height:500px;
  overflow-y:scroll;
  border: 1px solid black;
}

.participant {
  min-height:125px;
  cursor: pointer;
}

.participant-join {
  min-height:125px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.join-icon {
  font-size:2.5em;
}

#content-header-separation {
  margin-top:10px;
  margin-bottom:10px;
}

.event-row-container {
  margin-left: 0px;
  margin-right: 0px;
}

#event-chat-container {
  min-height:125px;
}

.internal-event {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event {
  background-color:light-blue;
  margin-top:5px;
  margin-bottom:5px;
  padding:5px;
  border: 1px solid black;
  text-align: left;
}
.btn-orange {
  background-color: #f28c10;
  border-color:#f28c10;
  color:#fff;
  float:right;
}

.btn-orange:hover {
  background-color: #e0810d;
  border-color: #e0810d;
}

</style>
