<template>
  <div class="col-md-7" id="contentDisplay">

          <MainNav/>
          <b-dropdown aria-role="list" v-model="EventView">
            <button class="button is-primary" slot="trigger">
                <span>Views</span>
                <b-icon icon="menu-down"></b-icon>
            </button>

            <b-dropdown-item aria-role="listitem">Awaiting Resolution</b-dropdown-item>
            <b-dropdown-item aria-role="listitem">Needs Resolution</b-dropdown-item>
          </b-dropdown>

          <b-table 
          :data="filter" 
          :columns="columns"
          :loading="loading"
          paginated
          :per-page="perPage"
          :total="total"
          detailed
          detail-key="event_id"
          >
            <template slot="detail" slot-scope="props">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ props.row.eventName }}</strong>
                                <small>Buy In: {{ props.row.wager }}</small>
                                <small>{{ props.row.players }}</small>
                                <br>
                                {{ props.row.event_description }}
                                <router-link class="btn btn-orange" :to="{ name: 'event', params: { id: props.row.event_id}}">View Event</router-link>
                            </p>
                        </div>
                    </div>
                </article>
            </template>
          </b-table>
      </div>
</template>

<script>

  import MainNav from './MainNav';

    export default {
      name: "MyEventHistory",
      components: {
        MainNav,
      },
      data () {
        return {
          columns: [
            {
                field: 'event_id',
                label: 'ID',
                visible:true,
                sortable: true
            },
            {
                field: 'eventName',
                label: 'Event Name',
                sortable: true
            },
            {
                field: 'wager',
                label: 'Buy-In',
                sortable: true
            },
            {
                field: 'players',
                label: 'Players',
                sortable: true
            },
            {
                field: 'event_button',
                label: 'Event Link',
                centered: true,
                visible: false
            },
            {
                field: 'event_description',
                label: 'Event Description',
                visible: false
            }
          ],
          EventList: [],
          data: [],
          search_query: {
            name: '',
            filter: ''
          },
          total: 0,
          loading: false,
          page: 1,
          perPage: 15,
          currentEvent: false,
          callURL: "api/v1/match/needsresolution",
          EventView: ''
        }
      },
      created: function() {
        this.pullEventData();
      },
      computed: {
        filter: function() {
          var name_re = new RegExp(this.search_query.name, 'i')
          var data = []

          if(this.search_query.name !== '') {
            this.data.forEach(function(element) {
              if (element.eventName.match(name_re) ||
                  element.wager.match(name_re) ||
                  element.event_id.match(name_re)) {
                data.push(element)
              }
            });
          }
          
          if(data.length > 0) {
            return data
          }
          else {
            return this.data;
          }
          
        }
      },
      methods: {
      
        //Will return 1/2, 0/2 or 2/2 depending on whether or not we have players in the event
        checkPlayerNumbers: function(participant_one, participant_two) {
          let returnValue = '0/2';
          if(participant_one && participant_two) {
            returnValue = '2/2';
          }
          else if(participant_one) {
            returnValue = '1/2';
          }
          else if(participant_two) {
            returnValue = '1/2';
          }
          else {
            returnValue = '0/2';
          }

          return returnValue;
        },

        pullEventData: function() {

          this.loading = true;

          let token = $cookies.get('playbetr_user_token');

          let config = {
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'POST, GET, PUT, OPTIONS, DELETE',
              'Access-Control-Allow-Headers': 'Access-Control-Allow-Methods, Access-Control-Allow-Origin, Origin, Accept, Content-Type',
              'Authorization': "Bearer " + decodeURI(token)
            }
          };

          this.$http.get("https://api.playbetr.com/api/v1/match/needsresolution", config)
          .then((response) => {

            this.total = response.data.total;

            this.EventList = response.data.data;

            //remove console log here
            console.log(this.EventList);

            this.EventList.forEach(function(event) {
              let temp = {
                  'event_id': event.id,
                  'eventName': event.name,
                  'wager': event.wager,
                  'players': this.checkPlayerNumbers(event.participant_1, event.participant_2),
                  'event_button': '',
                  'event_description': event.description
                };

                this.data.push(temp);
            }.bind(this));

            this.loading = false;

          })
          .catch((error) => {
            console.log(error);
          });
        },
        onPageChange: function(page) {
          this.page = page;
          this.pullEventData();
        }

      }
    }
</script>

<style scoped>

#contentDisplay {
  
}

#container-events {
  min-height:300px;
  max-height:760px;
  overflow-y:scroll;
}

.event-row-container {
  margin-left: 0px;
  margin-right: 0px;
}

.internal-event {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event {
  margin-top:5px;
  margin-bottom:5px;
  padding:5px;
  border: 1px solid black;
  border-radius:10px;
  text-align: left;
}

.event:hover {
  background-color: #efeeee;
}

.btn-orange {
  background-color: #f28c10;
  border-color:#f28c10;
  color:#fff;
  float:right;
}

.btn-orange:hover {
  background-color: #e0810d;
  border-color: #e0810d;
}

</style>
