<template>
  <div class="col-md-3 d-md-none d-sm-none d-lg-block" id="RightSidebar-Container">
    <div class="row">
      <div class="col-md-12 rightsidebar-title">
        {{title}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 rightsidebar-eventlist">
        <b-table 
          :data="data" 
          :loading="loading"
        >
          <template slot-scope="props">
                <b-table-column label="Event Name" style="word-break:break-all;">
                    <router-link class="" :to="{ name: 'event', params: { id: props.row.eventId}}">{{ props.row.eventName }}</router-link>
                </b-table-column>

                <b-table-column label="Created" style="word-break:break-all;">
                    {{ props.row.startTime }}
                </b-table-column>
          </template>

          <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <span>No Events to display</span>
                    </div>
                </section>
            </template>
        </b-table>
        <!--
        <div class="row">
          <div class="col-md-6 eventlistitem" style="text-align:left;">Event</div>
          <div class="col-md-6 eventlistitem" style="text-align:right;">Starts In</div>
        </div>
        <div class="row">
          <div class="col-md-6 eventlistitem" style="text-align:left;">MLG</div>
          <div class="col-md-6 eventlistitem" style="text-align:right;">8mins</div>
        </div>
        <div class="row">
          <div class="col-md-6 eventlistitem" style="text-align:left;">Discozone COD</div>
          <div class="col-md-6 eventlistitem" style="text-align:right;">2Hrs</div>
        </div>
      -->
      </div>
    </div>
    <div class="row boxadvert">
      <div class="col-md-12">
        <div class="rightsidebar-signupBonus">
          SIGNUP BONUS
        </div>
      </div>
    </div>
    <div class="row boxadvert">
      <div class="col-md-12">
        <div class="rightsidebar-tourneyadvert">
          TOURNEY ADVERT
        </div>
      </div>
    </div>
  </div>
</template>

<script>

    export default {
      name: "RightSidebar",
      components: {
      },
      props: {
      },
      data () {
        return {
           title: 'MY EVENTS',
           myEvents: [],
           loading: false,
           columns: [
            {
                field: 'eventId',
                label: 'Event ID',
                width: 100,
                sortable: true
            },
            {
                field: 'eventAge',
                label: 'Created',
                width: 100,
                sortable: true
            },
           ],
           data: []
        }
      },
      created: function() {
        this.id = this.$route.params.id;
        this.pullEventData();
      },
      methods: {
        pullEventData: function() {

          this.loading = true;

          let token = $cookies.get('playbetr_user_token');

          let config = {
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'POST, GET, PUT, OPTIONS, DELETE',
              'Access-Control-Allow-Headers': 'Access-Control-Allow-Methods, Access-Control-Allow-Origin, Origin, Accept, Content-Type',
              'Authorization': "Bearer " + decodeURI(token)
            }
          };

          this.$http.get("https://api.playbetr.com/api/v1/match/mine?filter[status_code]=0,2&sort=-created_at&page[size]=5", config)
          .then((response) => {

            this.myEvents = response.data.data;

            //remove console log here
            console.log(this.myEvents);

            this.myEvents.forEach(function(event) {
              let temp = {
                  'eventId': event.id,
                  'eventName': event.name,
                  'startTime': this.$moment(event.created_at).fromNow()
                };

                this.data.push(temp);
            }.bind(this));

            this.loading = false;

          })
          .catch((error) => {
            console.log(error);
          });
        },
      }
    }
</script>

<style scoped>

 #RightSidebar-Container{
  -webkit-box-shadow: -6px 0px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: -6px 0px 5px 0px rgba(0,0,0,0.15);
  box-shadow: -6px 0px 5px 0px rgba(0,0,0,0.15);
  height:100%;
 }

 .rightsidebar-title::before {
  margin-right:8px;
  content: " ";
  border-left: 4px solid orange;
}

.rightsidebar-title {
  font-size:120%;
}

.rightsidebar-eventlist {
  text-align:right;
  padding-top:15px;

}

.rightsidebar-tourneyadvert {
  display:block;
  text-align:center;
  height: 250px;
  line-height: 250px;
  background-color: lightgrey;
}

.rightsidebar-signupBonus {
  display:block;
  text-align:center;
  height: 150px;
  line-height: 150px;
  background-color: lightgrey;
}

.eventlistitem {
  border-bottom:1px dotted grey;
}

.boxadvert {
  margin-top:10px;
}

</style>
