<template>
    <div class="row">
      <div class="col-md-4 offset-md-8" id="NavButtons">
          <!--<div class="btn btn-primary">Create Wager</div>-->
          <b-button @click="createEvent()">Create Event</b-button>
          <!--<div class="btn btn-secondary">Account</div>-->
        </div>  
  </div>

</template>

<script>
    import creationModal from './modals/creationModal';

    export default {
      name: "TopRightNav",
      components: {
        creationModal
      },
      data () {
        return {
           account: 'account_id'
        }
      },
      methods: {
        createEvent: function() {
          this.$modal.open({
                parent: this,
                component: creationModal,
                hasModalCard: true,
            });
        }
      }
    }
</script>

<style scoped>

</style>
