<template>
  <div id="app">
    <!-- Here we need to add in the navigation area buttons (account + Karma) -->
    <div class="container-fluid" style="height:100%;">
        <div class="row" id="content-header-separation" style="height:100%;">
         <LeftSidebar />
           <router-view/>
         <RightSidebar />
        </div>
    </div>
  </div>
</template>

<script>

  import MainNav from './components/MainNav';
  import Footer from './components/Footer';
  import LeftSidebar from './components/LeftSidebar';
  import RightSidebar from './components/RightSidebar';

export default {
  name: 'SportsExchange',
  components: {
        MainNav,
        Footer,
        LeftSidebar,
        RightSidebar
      },
}

</script>

<style lang="css">
@import '/assets/custom.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap-vue/dist/bootstrap-vue.min.css';
@import 'buefy/dist/buefy.css';
@import 'vue-multiselect/dist/vue-multiselect.min.css';
</style>

<style>

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
  height:100%;
}

#content-header-separation {
  margin-top:10px;
}

.button.is-primary {
  background-color: #ff8c00 !important;
}

.input:focus {
  border-color: #ff8c00
}

.search_query {
  border-radius:0px;
  min-height:43px !important;
}

a {
  color: #ff8c00;
}

.pagination-link.is-current {
  background-color: #ff8c00 !important;
  border-color: #ff8c00;
}

.multiselect__tag {
  background-color:#ff8c00;
}

.multiselect__tag-icon {
  color:black;
}

.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
  background-color:#ff8c00;
}

</style>
